.login {
    .login-container {
      max-width: 640px;
      width: 100%;
      padding: 48px 16px;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      position: relative;
      .login-header {
        margin-bottom: 40px;
        > img {
          width: 50px;
          margin-bottom: 4px;
          border-radius: 10px;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .login-content {
        ul.list {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          li.item {
            margin-bottom: 16px;
            width: 65%;
            .btn-custome {
              display: flex;
              align-items: center;
              background-color: transparent;
              border: 2px solid #ccc;
              color: #35414c;
              height: 42px;
              width: 100%;
              background: #fff;
              &:hover {
                background-color: #dce0e3;
              }
              > img {
                width: 20px;
                height: 20px;
                object-fit: cover;
              }
              > span {
                flex: 1;
              }
            }
            .btn-custome--disbale {
              :hover {
                background-color: transparent;
              }
              cursor: not-allowed;
            }
          }
        }
      }
      .login-footer {
       margin-top: 20px;
      }
    }
    .login-bottom {
      color: white;
      margin-top: 16px;
      letter-spacing: 1px;
    }
  }