
.--btn-default {
    display: inline-block;
    padding: 9px 20px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease;
    border: none;
    text-align: center;
    user-select: none;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    &:hover {
      opacity: 0.9;
    }
  }

  .--btn-default.disable {
    pointer-events: none;
    opacity: .5;
  }
  