* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;

  ul,
  li {
    padding: 0px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  table {
    border-collapse: collapse;
    /* Đảm bảo các border không chồng lên nhau */
    width: 100%;
    /* Tùy chọn: Đặt chiều rộng của table */
  }

  th,
  td {
    border: none;
    /* Loại bỏ border */
    padding: 8px;
    /* Tùy chọn: Đặt padding cho các ô */
    text-align: left;
    /* Tùy chọn: Căn chỉnh văn bản bên trái */
  }

  // thead {
  //   background-color: #f2f2f2; /* Tùy chọn: Đặt màu nền cho tiêu đề */
  // }

  p {
    line-height: 1.5;
  }

  .spinner {
    animation: spin infinite 3s linear;
    font-size: 30px;
    color: #007bff;
    margin-bottom: 24px;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 100%;
  height: 40px;
  padding: 12px;
  border: var(--boder-dividing);
  border-radius: 3px;
  outline: none;
}

input:hover {
  border-color: #b8b8b8;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--primary-color);
}

label {
  display: block;
}

.btn-primary {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #0068ff;
  border-radius: 3px;
  color: white;
  background-color: #0068ff;
  cursor: pointer;

  &:hover {
    background-color: #004bb9;
    border: 1px solid #004bb9;
  }
}

.btn-dash {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #0088FF;
  border-radius: 3px;
  color: #0088FF;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #E6F4FF;
  }
}

.btn-dash.danger {
  color: #FF4D4D;
  background-color: #fff;
  border: 1px solid #FF4D4D;
}

.btn-primary.danger {
  color: white;
  background-color: #FF4D4D;
  border: 1px solid #FF4D4D;
}

.tag {
  display: inline-block;
  line-height: 1;
  padding: 4px 16px;
  border-radius: 20px;
  white-space: nowrap;
  user-select: none;
}

.tag-danger {
  @extend .tag;
  color: rgb(238, 71, 71);
  border: 1px solid rgb(255, 184, 184);
  background-color: rgb(255, 246, 246);
}

.tag-warning {
  @extend .tag;
  border: 1px solid rgb(255, 223, 155);
  color: rgb(228, 156, 6);
  background-color: rgb(255, 247, 231);
}

.tag-success {
  @extend .tag;
  border: 1px solid rgb(159, 237, 207);
  color: rgb(13, 180, 115);
  background-color: rgb(243, 252, 249);
}

.toast {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.toast.show {
  opacity: 1;
}
.toast.hide {
  opacity: 0;
}

:root {
  --primary-color: #0189FF;
  --gray-color: #e6e6e6;
  --boder-dividing: 1px solid #e6e6e6;
  --box-shadow-default: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}