* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;

  ul,
  li {
    padding: 0px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  table {
    border-collapse: collapse;
    /* Đảm bảo các border không chồng lên nhau */
    width: 100%;
    /* Tùy chọn: Đặt chiều rộng của table */
  }

  th,
  td {
    border: none;
    /* Loại bỏ border */
    padding: 8px;
    /* Tùy chọn: Đặt padding cho các ô */
    text-align: left;
    /* Tùy chọn: Căn chỉnh văn bản bên trái */
  }

  // thead {
  //   background-color: #f2f2f2; /* Tùy chọn: Đặt màu nền cho tiêu đề */
  // }

  p {
    line-height: 1.5;
  }

  .spinner {
    animation: spin infinite 3s linear;
    font-size: 30px;
    color: #007bff;
    margin-bottom: 24px;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:not([type="checkbox"]) {
  width: 100%;
  height: 40px;
  padding: 12px;
  border: var(--boder-dividing);
  border-radius: 3px;
  outline: none;
}

input:hover {
  border-color: #b8b8b8;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--primary-color);
}

label {
  display: block;
}

.btn-primary {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #0068ff;
  border-radius: 3px;
  color: white;
  background-color: #0068ff;
  cursor: pointer;

  &:hover {
    background-color: #004bb9;
    border: 1px solid #004bb9;
  }
}

.btn-dash {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #0088FF;
  border-radius: 3px;
  color: #0088FF;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #E6F4FF;
  }
}

.btn-dash.danger {
  color: #FF4D4D;
  background-color: #fff;
  border: 1px solid #FF4D4D;
}

.btn-primary.danger {
  color: white;
  background-color: #FF4D4D;
  border: 1px solid #FF4D4D;
}

.tag {
  display: inline-block;
  line-height: normal;
  padding: 4px 16px;
  border-radius: 20px;
  white-space: nowrap;
  user-select: none;
}

.tag-danger {
  @extend .tag;
  color: rgb(238, 71, 71);
  border: 1px solid rgb(255, 184, 184);
  background-color: rgb(255, 246, 246);
}

.tag-warning {
  @extend .tag;
  border: 1px solid rgb(255, 223, 155);
  color: rgb(228, 156, 6);
  background-color: rgb(255, 247, 231);
}

.tag-success {
  @extend .tag;
  border: 1px solid rgb(159, 237, 207);
  color: rgb(13, 180, 115);
  background-color: rgb(243, 252, 249);
}

.tag-percent-md {
  @extend .tag;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  color: #fff;
  background: var(--background-linear);
}

.tag-percent-lg {
  @extend .tag;
  padding: 3px 8px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background: var(--background-linear);
}

.error-message {
  display: inline-block;
  color: rgb(238, 77, 45);
  margin: 6px 0px 0px 10px;
  font-size: 13px;
}

#toastDiv {
  position: fixed;
  top: 5%;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  color: white;
  width: 585px;
  height: auto;
  padding: 14px 64px;
  border-radius: 3px;
  box-shadow: var(--box-shadow-default);
  z-index: 999;
  user-select: none;
  animation-name: fadeIn, move;
  animation-duration: 0.4s;
}

@keyframes move {
  0% {
    transform: translateY(-30px);
  }

  100% {}
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.skeleton-container {
  padding: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.skeleton::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, #f0f0f0 50%, transparent 100%);
  animation: loading 1.5s infinite;
}

.ck5-html {
  h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
    font-weight: 500;
  }
  p {
    line-height: 1.5;
    margin: 0 0 0 4px;
  }
  img {
    width: 100%;
    height: auto;
    margin: 24px 0;
    object-fit: cover;
  }
}

@keyframes loading {
  0% {
    left: -150px;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

:root {
  --primary-color: #0189FF;
  --primary-color-2: #273bcd;
  --secondary-color: #ff5117;
  --gray-color: #e6e6e6;
  --gray-color-2: #f1f1f1;
  --gray-color-3: #999999;
  --gray-color-4: #c4c4c4;
  --gray-color-5: #f6f6f6;
  --primary-hover: #f1f1f1;
  --boder-dividing: 1px solid #e6e6e6;
  --box-shadow-default: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --background-linear: linear-gradient(to right bottom, #ff8f26, #ff5117);


  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}